@page { size: A4; }

body {
  font-size: 5mm;
}

h1 {
  text-align: center;
  margin-bottom: 5mm;
}
#main {
  width: 172mm !important;
  height: 251mm !important;
  margin: 0px auto;
}
#left {
  float: left;
}
#right {
  float: right;
}
table {
  width: 84mm;
  border-collapse: collapse;
  line-height: 2rem;
  text-align: center;
}
thead {
  background: #ccc;
}
th, td {
  width: 4rem;
  border: solid 1px black;
}
footer {
  clear: left;
}
footer p {
  text-align: right;
  padding-top: 0.5em;
}

