input[type="range"] {
  appearance: none;         /* 外観を消す */
  box-sizing: border-box;   /* サイズに境界やパディングを加える */
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;         /* 外観を消す */
  width: 2em;
  height: 2em;
  border-radius: 50%; /* 丸くする */
  background-color: #9cf;
  margin-top: calc(-1em + 2px) ;
  
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  background-color: #9cf;
  height: 3px;
  margin-top: 1em;
}

input[type="range"]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border: 0;
  border-radius: 50%; /* 丸くする */
  background-color: #9cf;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  background-color: #9cf;
}
